{% extends 'base.html' %}

{% block content %}
<div id="information-information" class="container flex-container">
	<nav aria-label="breadcrumb">
	<ul class="breadcrumb us-breadcrumb">
						<li ><a href="{% url 'my_site:index' %}"><i class="fa fa-home"></i></a></li>
        <li style="padding-right: 10px; padding-left: 10px"> 🠒</li>
								<li> <small>О нас</small></li>
				</ul>
</nav>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement":
	[
																{
				"@type": "ListItem",
				"position": 1,
				"item":
				{
					"@id": "https://sulubopem.kz/about_us",
					"name": "О нас"
				}
			}						]
}
</script>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">О нас</h1>
		</div>
	</div>
	<div class="content-top-box"></div>
	<div class="row">
	    	    	    	    <div id="content" class="col-sm-12">
		    <div class="us-content us-content-inform">
		      <p style="text-align: justify; ">Недоношенные младенцы это самая уязвимая категория детей, они нуждаются в помощи высококвалифицированных врачей, медсестёр, которые не отходят от них ни на шаг с первой минуты их появления на этот свет.</p>
<p style="text-align: justify;">У каждого раньше срока рождённого малыша есть право на жизнь.</p>
<img class="img-responsive" src="https://sulubopem.kz/image/catalog/ для сайта.jpg" style="width: 300px; float: left; margin: 5px 10px 5px 10px"><p style="text-align: justify; ">Меня зовут Асель, но многие мамы торопыжек зовут меня Aseltai</p>
<p style="text-align: justify;">Я первый в Казахстане основатель специализированного магазина для детей рождённых раньше срока. Первый цех по пошиву одежды для детей весом от 800 грамм и более. Основатель первой социально мотивационной площадки родителей Чемпионов торопыжек Казахстана.&nbsp;</p>
<p style="text-align: justify;">Мое первое знакомство с моими ангелочками! Я их ласково называю чемпионами.</p>
<p style="text-align: justify;">Раньше работая в компании «Medela», я очень часто посещала родильные дома, лечебные учреждения и отделения реанимации новорожденных. В этот период работы увидела много шалабай сәби (мерзімінен ерте туған нәресте)&nbsp; - торопыжек (недоношеный ребенок рожденный раньше срока) ангелочков, которым остро нужна была одежка по их размерам, также не было специальных маленьких пустышек, которые им помогают развить сосательный и глотательный рефлекс, не было тёплых вещей. Дети, которым нужно было, уже носить тёплую одежку выглядели, забавными и милыми с большущими глазками и в тоже время мне было больно смотреть, как они лежат в этих большущих распашонках и ползунках.</p>
<p style="text-align: justify;">Я поняла, что именно эти дети больше всех нуждается в помощи и в поддержке. Для них невозможно было подобрать одежду, бутылочки, соски и пустышки, гнезда, позиционеры и многое другое. Ничего не было ...&nbsp;</p>
<p style="text-align: justify;">После встреч с мамами я решила, что нужно помочь мамам в первую очередь с одеждой для их детей. Одежда, которая доступна в детских магазинах не подходила самым крошечным младенцам.</p>
<p style="text-align: justify;">Вот так и появилась у меня идея создания одежды и товаров для наших новорожденных ростом от 30 см и более. Когда я поделилась своей идей с друзьями и близкими надо мной многие только смеялись, мол, кто к тебе придёт</p>
<p style="text-align: justify;">В создании размеров и лекал мне помогли врачи Алматинского Городского Перинатальнoго центрa, на Жубанова и мои Украинские партнеры.&nbsp; Я у них узнавала размеры стоп, ножек, ручек, объема головы, грудной клетки новорожденных торопыжек по неделям гестационного срока. Конечно, мы много работаем&nbsp; над лекалами, чтобы&nbsp; детям в нашей одежке было комфортно и уютно.&nbsp;</p>
<img class="img-responsive" src="https://sulubopem.kz/image/catalog/ с корзиной.jpg" style="width: 300px; float: right; margin: 5px 10px 5px 10px"><p style="text-align: justify; ">Покинув компанию Medela, я полностью посвятила себя самым маленьким гражданам своей страны. В конце 2014 года открыла Специализированный магазин для детей рождённых раньше срока под названием "Sulu-Бөпем", мы начали шить одежду и аксессуары для наших Чемпионов.&nbsp;</p>
<p style="text-align: justify;">А через 2 года волею судьбы,&nbsp; я тоже стала мамой такого чудо Малыша! На 28/29 неделе беременности я родила сына. Пропуская, через себя все судьбы своих клиентов мамочек вселенная дала мне возможность самой испытать это чувство быть Мамой торопыжки.&nbsp;</p>
<p style="text-align: justify;">После рождения сына я создала социально-мотивационную группу поддержки «Шалабай-Сәби-Торопыжка».&nbsp; Нас можно найти в социальных сетях instagram и facebook. Мы объединяем всех родителей торопыжек Казахстана. Проект совсем молодой, но очень востребованный среди родителей наших чемпионов. На этой площадке родители делятся своими успехами, узнают много полезной информации касаемо наших детей. В нашем проекте родители могут получить грамотную консультацию от врачей.</p>

		    </div>
	    </div>
	    
    </div>
    
</div>
{% endblock %}